@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide Google Translate Toolbar and prevent body shift */
body {
  top: 0 !important;
}
.skiptranslate iframe {
  display: none !important;
}
#goog-gt-tt {
  display: none !important;
}
